body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
}
/* стилизация шапки */
/* heder-top */
.header-top {
  color: #fff;
  background-color: #293449;
}
.main-header-logo {
  width: 220px;
  min-height: 42px;
  background-color: #ee3643;
}
.main-header-logo:hover {
  background-color: #ca2c37;
}
.main-header-logo:focus {
  background-color: #ba2732;
}
.main-header-logo .center-img {
  display: block;
  padding-left: 56px;
  padding-top: 13px;
}

.header-top a {
  color: #fff;
}
/* .user-search button, */
.user-search input {
  font: inherit;
  color: #fff;
  background-color: transparent;
  border: none;
}
/* .user-search button:hover, */
.user-search input:hover {
  background-color: #212a3a;
}
/* .user-search button:focus, */
.user-search input:focus {
  color: #000;
  background-color: #fff;
}
input::-webkit-input-placeholder {
  color: #fff;
}
input::-moz-placeholder {
  color: #fff;
}
input:-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder{
  color: #fff;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
/* временно */
.user-bookmark {
  width: 105px;
}
.user-cart {
  width: 100px;
}
.user-order {
  width: 128px;
}


.inner-page .user-cart-current {
  background-color: #ee3643;
}
.user-bookmark:hover,
.user-cart:hover {
  background-color: #212a3a;
}
.user-bookmark:focus,
.user-cart:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
.user-order {
  background-color: #63a63e;
}
.user-order:hover {
  background-color: #5fbb2d;
}
.user-order:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}
/* info-panel */
.header-middle {
  background-color: #f4f7f9;
  min-height: 279px;
}
.info-panel h1 {
  width: 198px;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
}
.header-address-phone {
  /* width: 193px; */
  font-style: normal;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid #fff;
}
.header-address-street {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}
.user-navigation-list,
.main-navigation-list,
.user-profile-list,
.user-panel-list {
  list-style: none;
}
.user-navigation-list a {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}
.user-navigation-list a:hover {
  color: #ee3643;
}
.user-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.user-profile-list a {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000;
  background-color: #fff;

}
.user-profile-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.user-panel-list a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.user-panel-list a:hover {
  color: #ee3643;
}
.user-panel-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
/* nav */
.main-navigation-list {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.main-navigation-list a {
  color: #fff;
}
.main-navigation-list a:hover {
  background-color: #293449;
}
.main-navigation-list a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}
/* breadcrums */
.breadcrums-list,
.filters ul,
.catalog-perforator-list,
.pagination-list {
  list-style: none;
}
.breadcrums-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}
/* catalog */
.catalog h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}
.filters fieldset {
  font-family: "PT Sans", Arial, sans-serif;
  border: none;
}
.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}
.filters ul {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
}
.filters input[type="submit"] {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
/* catalog-perforator */
.catalog-perforator-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #e5e5e5;
}
.catalog-perforator-item:hover {
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.2);
}
.catalog-perforator-item a {
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: line-through;
}
.price-perforator {
  width: 122px;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;

}
.hover-cart {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 3px;
}
.hover-cart:hover {
  background-color: #5fbb2d;
}
.hover-cart:focus {
  border-bottom: 3px solid #518534;
  background-color: #518534;
}
.hover-bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}
.hover-bookmark:hover {
  border-color: #32425c;
}
.hover-bookmark:focus {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}
/* pagination */
.pagination-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.pagination-list a:hover {
  border-color: #bdc6ca;
}
.pagination-list a:focus {
  border-color: #ee3643;
}
.pagination-item-current a {
  color: #fff;
  background-color: #ee3643;
}
/* main-bottom */
.main-bottom {
  background-color: #fff;
}
.main-bottom h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}
.main-bottom p {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.firms {
  list-style: none;
}
.firms li {
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.about-us-link {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ee3643;
}
/* main-footer */
.footer-top-middle {
  color: #f3f7f9;
  background-color: #32425c;
}
.footer-site-navigation-list,
.footer-catalog-navigation-list,
.footer-social-list {
  list-style: none;
}
.main-footer-logo {
  width: 220px;
  min-height: 63px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}
.main-footer-logo .center-img {
  display: block;
  padding-left: 42px;
  padding-top: 21px;
}
.footer-site-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}
.footer-site-navigation-list a:hover {
  text-decoration: underline;
}
.footer-site-navigation-list a:focus {
  text-decoration: none;
}
.footer-address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}
.footer-catalog-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}
.footer-catalog-navigation-list a:hover {
  text-decoration: underline;
}
.footer-catalog-navigation-list a:focus {
  text-decoration: none;
}
.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
}
.footer-social a {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.footer-contacts a,
.footer-copyright-htmlacademy a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}
.footer-contacts a:hover,
.footer-copyright-htmlacademy a:hover {
  text-decoration: underline;
}
.footer-contacts a:focus,
.footer-copyright-htmlacademy a:focus {
  text-decoration: none;
}

/* стилизация сеток */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  margin-bottom: 59px;
}
.header-top .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/*---- */
.user-search input {
  width: 270px;
  box-sizing: border-box;
  padding: 12px 0 12px 50px;
}
.user-bookmark {
  padding-top: 12px;
  padding-left: 45px;
  padding-bottom: 12px;
}
.user-cart {
  padding-top: 12px;
  padding-left: 50px;
  padding-bottom: 12px;
}
.user-order {
  padding-top: 12px;
  padding-left: 22px;
  padding-bottom: 12px;
  margin-right: 0;
}
/* ----- */
.info-panel .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 47px;
  margin-bottom: 36px;
}
.info-panel h1 {
  margin: 0;
  padding: 0;
  padding-left: 50px;
}
.header-address-phone {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 71px;
  padding-right: 49px;
  padding-bottom: 9px;

}
.header-address-street {
  margin: 0;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.user-navigation-list {
  display: flex;
  margin: 0;
  margin-top: 14px;
  padding: 0;
}
.user-navigation-sign-in {
  padding-top: 11px;
  padding-left: 49px;
  padding-right: 28px;
  padding-bottom: 11px;
}
.user-navigation-sign-up {
  margin-left: 10px;
  padding-top: 11px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 11px;
}
/* ---- */
.main-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 18px;
}
.main-navigation-link {
  padding-top: 19px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 18px;

}
.main-navigation-item:first-of-type a {
  padding-left: 51px;
}
.main-navigation-item:last-of-type a {
  padding-right: 54px;
}
