body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.heading-wrapper {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.paragrath-wrapper {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
/* стилизация шапки */
/* heder-top */
.header-top {
  color: #fff;
  background-color: #293449;
}
.main-header-logo {
  position: relative;
  width: 220px;
  min-height: 44px;
  background-color: #ee3643;
}
.main-header-logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background-color: #b52933;
}
.main-header-logo:hover {
  background-color: #ca2c37;
}
.main-header-logo:focus {
  background-color: #ba2732;
}
.main-header-logo .center-img {
  display: block;
  padding-left: 56px;
  padding-top: 13px;
}

.header-top a {
  color: #fff;
}
/* .user-search button, */
.user-search input {
  font: inherit;
  color: #fff;
  background-color: transparent;
  border: none;
}
/* .user-search button:hover, */
.user-search input:hover {
  background-color: #212a3a;
}
/* .user-search button:focus, */
.user-search input:focus {
  color: #000;
  background-color: #fff;
}
input::-webkit-input-placeholder {
  color: #fff;
}
input::-moz-placeholder {
  color: #fff;
}
input:-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder{
  color: #fff;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
/* временно */
.user-bookmark {
  width: 105px;
}
.user-cart {
  width: 100px;
}
.user-order {
  width: 128px;
}


.inner-page .user-cart-current {
  background-color: #ee3643;
}
.user-bookmark:hover,
.user-cart:hover {
  background-color: #212a3a;
}
.user-bookmark:focus,
.user-cart:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
.user-order {
  background-color: #63a63e;
}
.user-order:hover {
  background-color: #5fbb2d;
}
.user-order:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}
/* info-panel */
.header-middle {
  background-color: #f4f7f9;
  min-height: 279px;
}
.info-panel h1 {
  width: 198px;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
}
.header-address-phone {
  position: relative;
  font-style: normal;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid #fff;
}
.header-address-phone::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 19px;
  top: 10px;
  left: 13px;
  background: url("../img/icon-phone.svg") no-repeat 0 0;
}
.header-address-street {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}
.user-navigation-list,
.main-navigation-list,
.user-profile-list,
.user-panel-list {
  list-style: none;
}
.user-navigation-list a {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}
.user-navigation-list a:hover {
  color: #ee3643;
}
.user-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.user-navigation-sign-in {
  position: relative;
}
.user-navigation-sign-in::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 15px;
  background: url("../img/icon-login.svg") no-repeat 0 0;
  opacity: 0.3;
}
.user-navigation-sign-in:hover::before {
  opacity: 1;
}
.user-navigation-sign-in:focus::before {
  opacity: 0.3;
}
.user-profile-list a {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}
.user-profile-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.user-panel-list a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.user-panel-list a:hover {
  color: #ee3643;
}
.user-panel-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
/* nav */
.main-navigation-list {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.main-navigation-list a {
  color: #fff;
}
.main-navigation-list a:hover {
  background-color: #293449;
}
.main-navigation-list a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}
/* breadcrums */
.breadcrums-list,
.filters ul,
.catalog-perforator-list,
.pagination-list {
  list-style: none;
}
.breadcrums-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}
/* catalog */
.catalog .heading-wrapper {
  color: #32425c;
  background-color: #f2f6f8;
}
.filters fieldset {
  font-family: "PT Sans", Arial, sans-serif;
  border: none;
}
.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}
.filters ul {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
}
.filters input[type="submit"] {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
/* catalog-perforator */
.catalog-perforator-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #ccc;
}
.catalog-perforator-item:hover {
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.2);
}
.catalog-perforator-item a {
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: line-through;
}
.price-perforator {
  width: 122px;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  /* text-align: center; */
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;

}
.hover .hover-cart {
  width: 131px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 3px;
}
.hover-cart:hover {
  background-color: #5fbb2d;
}
.hover-cart:focus {
  border-bottom: 3px solid #518534;
  background-color: #518534;
}
.hover .hover-bookmark {
  width: 127px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}
.hover-bookmark:hover {
  border-color: #32425c;
}
.hover-bookmark:focus {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}
/* pagination */
.pagination-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.pagination-list a:hover {
  border-color: #bdc6ca;
}
.pagination-list a:focus {
  border-color: #ee3643;
}
.pagination-item-current a {
  color: #fff;
  background-color: #ee3643;
  border-color: #ee3643;
}
/* main-bottom */
.main-bottom {
  background-color: #fff;
}
.firms {
  list-style: none;
}
.firms li {
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.about-us-link {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}
/* main-footer */
.footer-top-middle {
  color: #f3f7f9;
  background-color: #32425c;
}
.footer-site-navigation-list,
.footer-catalog-navigation-list,
.footer-social-list {
  list-style: none;
}
.main-footer-logo {
  position: relative;
  width: 220px;
  min-height: 63px;
  background-color: #ee3643;
}
.main-footer-logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background-color: #b52933;
}
.main-footer-logo .center-img {
  display: block;
  padding-left: 42px;
  padding-top: 21px;
}
.footer-site-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}
.footer-site-navigation-list a:hover {
  text-decoration: underline;
}
.footer-site-navigation-list a:focus {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}
.footer-address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}
.footer-catalog-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}
.footer-catalog-navigation-list a:hover {
  text-decoration: underline;
}
.footer-catalog-navigation-list a:focus {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}
.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
}
.footer-social-link{
  width: 43px;
  height: 43px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #212a3a;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #ee3643;
}
.footer-contacts a,
.footer-copyright-htmlacademy a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}
.footer-contacts a:hover,
.footer-copyright-htmlacademy a:hover {
  text-decoration: underline;
}
.footer-contacts a:focus,
.footer-copyright-htmlacademy a:focus {
  color: #ee3643;
  text-decoration: none;
}


/* стилизация сеток */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-top .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/*---- */
.user-search-input {
  width: 270px;
  box-sizing: border-box;
  padding: 12px 0 12px 50px;
}
.user-bookmark {
  position: relative;
  padding-top: 13px;
  padding-left: 45px;
  padding-bottom: 13px;
}
.user-bookmark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 16px;
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.3;
}
.user-bookmark:hover::before {
  opacity: 1;
}
.user-bookmark:focus::before {
  opacity: 0.3;
}
.user-cart {
  position: relative;
  padding-top: 13px;
  padding-left: 50px;
  padding-bottom: 13px;
}
.user-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 19px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}
.user-cart:hover::before {
  opacity: 1;
}
.user-cart:focus::before {
  opacity: 0.3;
}
.user-order {
  padding-top: 13px;
  padding-left: 22px;
  padding-bottom: 13px;
  margin-right: 0;
}
/* ----- */
.info-panel .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 47px;
  margin-bottom: 36px;
}
.info-panel h1 {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  margin-right: 25px;
}
.header-address-phone {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 71px;
  padding-right: 49px;
  padding-bottom: 9px;

}
.header-address-street {
  margin: 0;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.user-navigation-list {
  display: flex;
  margin: 0;
  margin-top: 14px;
  padding: 0;
}
.user-navigation-sign-in {
  padding-top: 11px;
  padding-left: 49px;
  padding-right: 28px;
  padding-bottom: 11px;
}
.user-navigation-sign-up {
  margin-left: 10px;
  padding-top: 11px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 11px;
}
/* ---- */
.main-navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 18px;
}
.main-navigation-link {
  padding-top: 19px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 18px;

}
.main-navigation-item:first-of-type a {
  padding-left: 51px;
}
.main-navigation-item:last-of-type a {
  padding-right: 54px;
}

/* стили для шапки каталога */
.user-profile-list {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 5px;
}
.user-profile-item a {
  position: relative;
  padding-top: 13px;
  padding-left: 47px;
  padding-right: 68px;
  padding-bottom: 10px;
}
.user-profile-item a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 15px;
  left: 15px;
  background: url("../img/icon-user.svg") no-repeat 0 0;
  opacity: 0.3;
}
.user-profile-item a:hover::before {
  opacity: 1;
}
.user-profile-item a:focus::before {
  opacity: 0.3;
}
.user-panel-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 22px;
}
.user-panel-item:first-of-type a {
  position: relative;
  margin-right: 32px;
}
.user-panel-item:first-of-type a::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 7px;
  right: -18px;
  background-color: #32425c;
  border-radius: 50%;
}

/* --- */
.main-bottom .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 86px;
}
.main-bottom h2,
.main-bottom p,
.main-bottom ul {
  margin: 0;
  padding: 0;
}
.about-us {
  width: 532px;
  margin-right: 108px;
}
.contacts {
  width: 300px;
}
.main-bottom h2 {
  padding-bottom: 25px;
}
.about-us p:nth-child(2) {
  padding-bottom: 25px;
}
.about-us p:nth-child(3) {
  padding-bottom: 21px;
}
.contacts p {
  padding-right: 118px;
  padding-bottom: 32px;
}
.firms li {
  margin-left: 35px;
  margin-bottom: 18px;
}
.about-us-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.about-us a {
  margin-right: 312px;
  margin-top: 41px;
}
/*футер  */
.footer-top .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 33px;
}
.footer-site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 38px;
}
.footer-site-navigation-link,
.footer-catalog-navigation-link {
  padding-left: 60px;
}
.footer-middle .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.footer-catalog-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 30px;
}
.footer-copyright-tehnomart {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 150px;
}
.footer-bottom ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
  margin: 0;
  padding: 0;
  margin-right: 110px;
}
.footer-contacts {
  width: 139px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}
.footer-copyright-htmlacademy {
  width: 100px;
  margin: 0;
  padding: 0;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 50%;
}

/* стили для catalog */
.breadcrums-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.breadcrums-item:not(:first-child) {
  position: relative;
  padding-left: 40px;
}
.breadcrums-item:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: 15px;
  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}
.catalog h2 {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-filters {
  width: 220px;
}
.catalog-perforator {
  width: 700px;
}
.catalog h3 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}
.catalog-perforator-list {
  width: 700px;
  padding: 0;
  margin: 0;
  margin: 20px auto;

}
.catalog-perforator-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 15px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}
.catalog-perforator-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-perforator-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.catalog-perforator-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-perforator-item .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.95);
  z-index: 10;
}
.hover .hover-cart,
.hover .hover-bookmark {
  display: block;
  margin-left: 42px;
  margin-bottom: 7px;
  padding-top: 9px;
  padding-bottom: 7px;
}
.hover-cart {
position: relative;
}
.hover-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 15px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}
.hover-cart:hover::before {
  opacity: 1;
}
.hover-cart:focus::before{
  opacity: 0.3;
}
.catalog-perforator-item .hover{
  display: none;
}
.catalog-perforator-item:hover .hover {
  display: block;
}

.catalog-perforator-item h4 {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}
.price-perforator {
  position: relative;
  margin-top: 10px;
  margin-left: 44px;
  margin-bottom: 18px;
  padding-top: 10px;
  padding-left: 3px;
  padding-bottom: 10px;
}
.catalog-perforator-item:nth-child(3n) .price-perforator {
  margin-top: 30px;
}
.price-perforator::after {
  content: "";
  position: absolute;
  top: 0;
  right: -35px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
  margin-top: 40px;
}
.pagination-list li {
  padding-right: 10px;
}
.pagination-list a {
  padding: 9.5px 15px;
}
.pagination-item:last-child a {
  padding: 9.5px 30px;
}

/*о перфораторах  */
.product-description {
  padding-top: 63px;
  padding-bottom: 50px;
  background-color: #f2f6f8;
}
.product-description h2 {
  margin-bottom: 30px;
}
.product-description p {
  margin-bottom: 20px;
}
/* фильтры */
.catalog-filters ul {
  margin: 0;
  padding: 0;
}
